<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
<title>{{ page.title }}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="/styles/main.css" type="text/css" charset="utf-8" />
  <link href="http://fnt.webink.com/wfs/webink.css?project=371A5CE2-4983-4D7D-B848-919DC8FCCE86&amp;fonts=D658C100-EB60-0878-7701-BA465DF17739:family=ProximaNovaT-Thin,F5870F1F-48F5-36F5-550E-B276AA09225A:family=ProximaNova-RegularIt,7A216DEB-0125-3318-DAE6-2830B129E931:family=MuseoSans-500,58DEFEBD-4A55-477B-3C13-525C6AEBDD7A:family=ProximaNova-Regular" rel="stylesheet" type="text/css"/>
  <link href="/feed.xml" rel="alternate" title="Atom Feed" type="application/atom+xml">
  </head>
<body>
<header>
  <div class="logo">
    Trevor Johns
  </div>
  <ul class="nav">
    <li><a href="http://tjohns.net" rel="me">About Me</a></li>
    <li><a href="https://plus.google.com/114249855229891870149" rel="me">G+</a></li>
    <li><a href="http://twitter.com/tjohns" rel="me">Twitter</a></li>
    <li><a href="http://github.com/tjohns" rel="me">GitHub</a></li>
    <li><a href="/feed.xml">Feed</a></li>
  </ul>
</header>
<section class="content">

{{ content }}
  
</section>
<script type="text/javascript">
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '503bc379f5a1f57835000003');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>
</body>
</html>
