body {
  background-color: #fcfcfc;
  color: #333;
  font-family: "Roboto-Light", sans-serif;
  font-size: 14px;
  margin: 1em 0 0 0;
  background-image: url(/images/backgrounds/bg-gradient.png);
  background-repeat: repeat-x;
}

body > header {
  width: 600px;
  margin: 0 auto 2em auto;
  padding: 0;
  border-bottom: solid 1px #999;
}

body > footer {
  background-color: #333;
  color: #ccc;
  text-align: center;
  padding: 20px;
  line-height: 1.3em;
}

body > footer a {
  color: #cc0000;
}

#logo {
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 35px;
}

h1 {
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 35px;
}

h1 a {
  text-decoration: none;
  color: #333;
}

#nav {
  text-align: center;
  display: block;
  margin: 0;
  padding: 0;
}

#nav li {
  text-align: center;
  display: inline-block;
}

#nav a {
  display: block;
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 10px;
  padding-bottom: 5px;
  color: #999;
  text-decoration: none;
}

#nav a.active, #nav a:hover {
  border-bottom: 3px solid #454aff;
  color: #333;
}


.content {
  position: relative;
  width: 600px;
  margin: 0 auto;
  line-height: 1.6em;
}

.content > * {
  margin: 0 auto;
}

article {
  position: relative;
  width: 100%;
}

article h1 {
  text-align: center;
  margin-bottom: 1em;
}

div#disqus_thread {
  position: relative;
  width:  100%;
  margin: 0 auto 20px auto;
}

article > footer {
  margin: 50px 0 20px 0;
  padding: 1px 10px 1px 10px;
  background: #f6f6f6;
  /*color: #ddd;*/
}
  

.full h1 {
  font-family: "Roboto-Thin";
  font-weight: normal;
  font-size: 250%;
}

.full h2, .full h3, .full h4, .full h5, .full h6 {
  font-family: "Roboto-BoldCondensed"
}

.summary h1 {
  font-family: "Roboto-Medium";
  font-weight: normal;
  font-size: 120%;
}

.summary {
  padding-bottom: 10px;
}

.summary > * {
  margin-left: 67px;
  margin-right: 67px;
}

.summary .nav-hint {
  position: absolute;
  right: 0;
  top: 50%;
  bottom: 50%;
  margin: -32px 10px 0 0;
  padding: 0;
  font-size: 48px;
  color:#ddd;
}


article > img.wide {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

a.nav-link {
  color: #333;
  text-decoration: none;
}

a.nav-link article:hover {
  background-color: #f6f6f6;
}

.content a {
  background-color: #f4faff;
}

pre {
  padding: 0.5em 1em;
  background: #eee;
}

@media only screen and (max-width: 920px) {
    body > header {
    position: relative;
    float: none;
    width: 100%;
    margin-bottom: 30px;
  }
  

  .content {
    position: relative;
    padding: 0;
    margin: 0;
  }
  
  article {
    position: relative;
  }
}

@media only screen and (max-width: 630px) {
  body > header {
    position: relative;
    float: none;
    width: 100%;
    margin-bottom: 30px;
  }
  
  #nav {
    margin: 20px;
  }
  
  #nav li {
    display: inline-block;
    margin: 5px;
  }
  
  .content {
    position: relative;
    padding: 0;
    margin: 0;
  }
  
  article {
    position: relative;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  div#disqus_thread {
    width: 95%;
  }
}
